<!-- H E A D    H T M L -->
{{template "headTemplate"}}
{{template "navbartemplate" .}}
<div class="col-lg-10 col-md-10 rouded-lg">
    <div class="container mt-4">
<h1 class="text-center">Calificaciones</h1>
<hr>


<!-- <div class="" id="CalificaionesContainer">
    <div class="text-center container"> 
        <a href="Javascript:AgregarCalificacion('1:2:3');" class="btn btn-info" role="button">Materia 1</a> 
        <a href="Javascript:AgregarCalificacion('1:2:3');" class="btn btn-warning" role="button">Materia 2</a> 
        <a href="Javascript:AgregarCalificacion('1:2:3');" class="btn btn-dark" role="button">Materia 3</a> 
    </div>
</div> -->

<div class="" id="CalificacionesContainer">
    <div class="text-center container "> 
        {{if .Usuario.Docente}}
        <input type="hidden" name="iddocente" id="iddocente" value="{{.Usuario.UserID.Hex}}">
        {{range $index,$value := .Materias}}
        <a href="Javascript:AgregarCalificacion('{{$value.ID.Hex}}:{{$value.Semestre.Hex}}');" id="input{{$index}}" class="btn btn-dark separacion" onclick="CambiaAtributos('input{{$index}}');" role="button">{{$value.Materia}} ({{$value.Licenciatura}})</a>
        {{end}}
        {{end}}

        {{if .Usuario.Admin}}
        <a href="Javascript:CrearFormulario('Semestre');" id="crearsemestre" class="btn btn-dark separacion" role="button">Crear semestre</a>
        <a href="Javascript:CrearFormulario('Materia');" id="crearmateria" class="btn btn-warning separacion" role="button">Crear materia</a>
        <a href="Javascript:CrearFormulario('Alumnos');" id="cargaalumnos" class="btn btn-warning separacion" role="button">Carga masiva de Alumnos</a>
        <a href="Javascript:CrearFormulario('Docentes');" id="cargadocentes" class="btn btn-warning separacion" role="button">Carga masiva de Docentes</a>
        <a href="Javascript:LigarUsuarios();" id="asignarusuariosbien" class="btn btn-warning separacion" role="button">Asignar Usuarios1</a>
        {{end}}
    </div>
</div>

<br><br>

<div class="container" id="CalificacionesTable">

    
    
    {{if .Usuario.Alumno}}
    <h3 class="text-center">Semestre {{.Semestre.Semestre}}°</h3>
    <h4 class="text-center">Plan {{.Semestre.Plan}}  -  Licenciatura en Educación {{.Semestre.Licenciatura}}</h4>
    <h4 class="text-center">{{.Alumno.Nombre}} {{.Alumno.ApellidoP}} {{.Alumno.ApellidoM}}</h4>
    <h4 class="text-center">{{.Alumno.Matricula}}</h4>
    {{end}}
    
    
    {{if .Usuario.Alumno}}
    {{$cals:=.Alumno.Calificaciones}}
    {{$asis:=.Alumno.Asistencias}}
    {{$docen:=.Docentes}}
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col" class="text-center">Materia</th>
                <th scope="col" class="text-center">Calificación</th>
                <th scope="col" class="text-center">Asistencias</th>
                <th scope="col" class="text-center">Docente</th>
                
            </tr>           
        </thead>
        <tbody>
            
            {{range $index,$value :=.Materias}}
            <tr>
                
                <th scope="row">{{$index}}</th>
                <th scope="row">{{$value.Materia}}</th>
                <td class="text-center">{{index $cals $index}}</td>
                <td class="text-center">{{index $asis $index}}</td>
                <td class="text-center">{{index $docen $index}}</td>
            </tr>


            {{end}}

        </tbody>
      </table>

      <div class="container centrado">
          <a href="Javascript:ImprimirCalificacion('{{.Usuario.UserID.Hex}}');" id="asignarusuariosbien" class="btn btn-warning separacion" role="button">Imprimir</a>

      </div>
<br>


    {{end}}

    

<!-- 
    {{if .Usuario.Alumno}}

    <br>
    {{.Materias}}
    <br>
    {{.Usuario}}
    <br>
    {{.Alumno}}
    <br>
    {{.Semestre}}

    {{end}} -->

    

    

</div>
</div>
<script>calificacionesit.classList.add("selected");</script>
<div id="answer"></div>
{{template "footerTemplate" .}}