<!-- H E A D    H T M L -->
{{template "headTemplate"}}
{{template "navbartemplate" .}}
<div class="col-lg-10 col-md-10 rouded-lg">
    <div class="container mt-4">
<h1 class="text-center">Docentes</h1>
<hr>
<div class="container" id="DocentesContainer">
    
    <br>
	<hr>
	<table class="table table-hover table-bordered table-lg" style="margin: auto; width: 100%s !important; font-size:14px;">
	  <thead>
		<th class="textocentrado" width="50%">
		  Nombre
		</th>
		<th class="textocentrado" width="25%">
		 Telefono
		</th>
		<th class="textocentrado" width="25%">
		  Acciones
		</th>
		</thead>
	  <tbody>
        <!-- <tr>
            <td>1</td>
            <td>2</td>
            <td >

                <a id="myLink1" href="#" onclick="alert('1');return false;">
                    <img src="Recursos/Generales/Plugins/icons/build/svg/no-entry-16.svg" height="25" alt="Editar docente"/>
                    </a>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            
            <td>
                <a id="myLink2" href="#" onclick="alert('1');return false;">
                    <img src="Recursos/Generales/Plugins/icons/build/svg/no-entry-16.svg" height="25" alt="Editar docente"/>
                    </a>

            </td>
        </tr>

      </tbody> -->
      {{range $index,$value := .Docentes}}
      <tr>
          <td>{{$value.Nombre}} {{$value.ApellidoP}} {{$value.ApellidoM}}</td>
          <td>{{$value.Telefono1}}</td>
          <td>{{$value.CorreoE}}</td>
      </tr>

      {{end}}


      </tbody>
    </table>





</div>
</div>
<script>docentesit.classList.add("selected");</script>
{{template "footerTemplate" .}}