{{define "headTemplate"}}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experimental Tuxtla Chico</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="Recursos/Generales/Plugins/bootstrap/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="Recursos/Generales/Plugins/Dropify/css/dropify.css"> -->
    <link rel="stylesheet" type="text/css" href="Recursos/Generales/Plugins/sweetalert/css/sweetalert2.css">
    <link rel="stylesheet" type="text/css" href="Recursos/Locales/Index/css/index.css">

</head>
<body>
{{end}}


{{define "navbartemplate"}}
 <div class="col-lg-12">
    <div class="row">
        <div class="col-lg-2 col-md-2 rouded-lg">
             <div id=menu>
                <div class="d-flex justify-content-end align-items-center mt-2">
                    <b class="my-auto mr-1 menuTitle">MENU</b>
                    <a id="menu">
                     <img src="Recursos/Imagenes/icoMenu.png"  width="35" alt="menu">
                    </a>
                </div>
            </div>
                <hr class="bg-dark d-none">
            <div class="sidenav navbar-nav">
                <a class="icoMenu">
                    <img id="closeMenu" src="Recursos/Generales/Plugins/icons/build/svg/x2.svg" alt="">
                </a>
                <hr class="bg-white d-none">
                <a href="/index" id="indexit" class="">Inicio</a>
                {{if .Usuario.Alumno}}
                <a href="/calificaciones" id="calificacionesit" class="">Calificaciones</a>
                <a href="/inscripcion" id="inscripcionit" class="">Inscripción</a>
                {{end}}

                {{if .Usuario.Docente}}
                <a href="/calificaciones" id="calificacionesit" class="">Calificaciones</a>
                {{end}}

                {{if .Usuario.Administrativo}}
                <a href="/calificaciones" id="calificacionesit" class="">Calificaciones</a>
                {{end}}


                {{if .Usuario.Director}}
                <a href="/calificaciones" id="calificacionesit" class="">Calificaciones</a>
                {{end}}

                {{if .Usuario.Admin}}
                <a href="/calificaciones" id="calificacionesit" class="">Calificaciones</a>
                <a href="/inscripcion" id="inscripcionit" class="">Inscripción</a>
                <a href="/asignacion" id="asignacionit" class="">Asignación de  Mat</a>
                <a href="/alumnos" id="catalogosit" class="">Alumnos</a>
                <a href="/docentes" id="empleadosit" class="">Docentes</a>
                <a href="/directorio" id="empresasit" class="">Directorio</a>
                <a href="/buscador" id="materialesit" class="">Buscador</a>
                <a href="/horarios" id="espectacularesit" class="">Horarios</a>
                <a href="/kardex" id="ventasit" class="">Kardex</a>
                {{end}}
                <div class="mt-auto">
                    <a href="/perfil" class="useron">{{.Usuario.Nombre}} {{.Usuario.Apellidos}}</a>
                    <a href="/logout" class="username">Cerrar Sesión</a>
                </div>
            </div>
        </div>
{{end}}

{{define "footerTemplate"}}
</div>
</body>
<script src="Recursos/Generales/Plugins/jquery/jquery-3.2.1.min.js"></script>
<script src="Recursos/Generales/Plugins/bootstrap4/js/popper.min.js"></script>
<script src="Recursos/Generales/Plugins/bootstrap4/js/bootstrap.min.js"></script>
<!-- <script src="Recursos/Generales/Plugins/Dropify/js/dropify.js"></script> -->
<script src="Recursos/Locales/Index/js/index.js"></script>	
<script src="Recursos/Locales/Index/js/navbar.js"></script>	
<script src="Recursos/Generales/Plugins/sweetalert/js/sweetalert2.all.js"></script>	
</html>


{{end}}