<!-- H E A D    H T M L -->
{{template "headTemplate"}}
{{template "navbartemplate" .}}
<div class="col-lg-10 col-md-10 rouded-lg">
    <div class="container mt-4">
<h1 class="text-center">Bienvenido {{.Usuario.Nombre}} {{.Usuario.Apellidos}}</h1>
<hr>
<div class="" id="IndexContainer">

    <div class="centrado">
        <a href="/calificaciones">
            {{if .Usuario.Alumno}}
            <img src="/Recursos/Imagenes/calif3.png" class="img-fluid" alt="VerCalificacioneslogo">
            {{end}}

            {{if .Usuario.Docente}}
            <img src="/Recursos/Imagenes/calif2.png" class="img-fluid" alt="VerCalificacioneslogo">
            {{end}}

        </a>

        {{if .Usuario.Alumno}}
        <a href="/inscripcion">
            <img src="/Recursos/Imagenes/inscribirse.png" class="img-fluid" alt="VerCalificaciones1logo">
        </a>
        {{end}}




    </div>



</div>
</div>
<script>indexit.classList.add("selected");</script>
{{template "footerTemplate" .}}