<!-- H E A D    H T M L -->
{{template "headTemplate"}}
{{template "navbartemplate" .}}
<div class="col-lg-10 col-md-10 rouded-lg">
    <div class="container mt-4">
<h1 class="text-center letraPop">Bienvenido <br> "La Enseñanza e Ignacio Manuel Altamirano"</h1>

<div class="centrado">
    <h5 class="textocentrado letraPop2">
        {{.Usuario.Puesto}} {{.Usuario.Nombre}} {{.Usuario.Apellidos}}
    </h5>
</div>
<hr>
<div class="" id="IndexContainer">

    <!-- <div class="centrado">
        <a href="/calificaciones">
            {{if .Usuario.Alumno}}
            <img src="/Recursos/Imagenes/calif3.png" class="img-fluid" alt="VerCalificacioneslogo">
            {{end}}

            {{if .Usuario.Docente}}
            <img src="/Recursos/Imagenes/calif2.png" class="img-fluid" alt="VerCalificacioneslogo">
            {{end}}

        </a>

        {{if .Usuario.Alumno}}
        <a href="/inscripcion">
            <img src="/Recursos/Imagenes/inscribirse.png" class="img-fluid" alt="VerCalificaciones1logo">
        </a>
        {{end}}

    </div> -->

<br>
<div class="caja">
    <h2 class="mision"><img src="Recursos/Generales/Plugins/icons/build/svg/star-16.svg" height="30" alt="star"/>&nbsp;Misión</h2>

    <p class="mision">
        Formar profesionales de la educación para ejercer la docencia en el nivel de educación preescolar con las competencias
        idóneas(genéricas y profesionales) para la atención de la niñez en diversos contextos: bilingües, pluriculturales, 
        urbanos y rurales, con sentido humanista, valores éticos y cívicos, apegados a las necesidades actuales de los niños y
        las comunidades de la región sureste, en el marco de los planes y programas de estudio vigentes.
    </p>


</div>
<br>
<div class="caja2">
    <h2 class="vision"><img src="Recursos/Generales/Plugins/icons/build/svg/star-16.svg" height="30" alt="star"/>&nbsp;Visión</h2>
    <p class="vision">Ser una institución educativa pública de nivel superor con conectividad, equipo de última generación e 
        infraestructura adecuada a la vanguardia de las necesidades socioeducativas del país que logre el desempeño profesional
        docente, con posgrados certificados por CONACYT y alta competitividad en las funciones de docencia incluyendo tutorías, asesorías
         e investigación comprendiendo el seguimiento a egresados y difusión; con personal docente especializado, perfil idóneo,
        integrados en cuerpos académicos vinculados a nivel nacional; con personal docente y administrativo que generen y compartan las 
        ciencias de la educación (filosofía, psicología, sociología y pedagogía) para farvorecer la información de estudiantes comprometidos
        en alcanzar de manera idónea el perfil de egreso.
    </p>
</div>
<br>
<div class="caja3">
    <h2 class="filosofia"><img src="Recursos/Generales/Plugins/icons/build/svg/star-16.svg" height="30" alt="star"/>&nbsp;Filosofía Institucional</h2>
    <p class="filosofia">La escuela Normal Experimental de Licenciatura en Educación Primaria y Preescolar: "La Enseñanza e Ignacio Manuel Altamirano",
        busca formar docentes con excelencia educativa, promoviendo la adquisición y fortalecimiento de conocimientos, habilidades, aptitudes,
         actitudes y valores.
    </p>
</div>
</div>
</div>
<script>indexit.classList.add("selected");</script>
{{template "footerTemplate" .}}