<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Iniciar Sesión</title>
    {{template "styles_login"}}
</head>

<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form" id="loginform" method="POST" action="/index">

                    <span class="login100-form-title p-b-10">
						<img src="Recursos/Imagenes/LogoExp.png" class="imglogo" alt="Logotipo Experimental">
					</span>
                    <br>
                    <br>
                    <div class="wrap-input100" data-validate="Ingresa Usuario:">
                        <input class="input100" type="text" name="usuario" id="usuario" autofocus required>
                        <span class="focus-input100" data-placeholder="Usuario:"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Ingresa una contraseña:">
                        <span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
                        <input class="input100" type="password" name="pass" id="pass" required>
                        <span class="focus-input100" data-placeholder="Contraseña:"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
								iniciar sesión
							</button>
                        </div>
                    </div>

                    <div class="text-center p-t-45">
                        <span class="txt1">
                            Normal Experimental Tuxtla Chico 2023 &#174;
						</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="dropDownSelect1"></div>
    {{template "scripts_login"}}
</body>
<footer>

</footer>

</html>