<!-- H E A D    H T M L -->
{{template "headTemplate"}}
{{template "navbartemplate" .}}
<div class="col-lg-10 col-md-10 rouded-lg">
    <div class="container mt-4">
<h1 class="text-center">Perfil de {{.Usuario.Nombre}}</h1>
<hr>
    <br>
    <div class="d-flex container" id="ProfileContainer">
    {{if .Usuario.Alumno}}
<div class="col-6 altura"><span> <b>Imagen : </b> </span>        
    <form enctype="multipart/form-data" method="POST" action="/#">

        {{if .Alumno.Imagen}}
        <div id="ModificarImagen">
            <img src="{{.Alumno.Imagen}}" class="imgperfil" alt="">
        </div>
        {{else}}
        <input type="file" class="dropify"  id="imagenusuario" name="imagenusuario" data-allowed-file-extensions="jpg jpeg" required/>
        {{end}}

            <div class="centrado">
                <span>{{.Usuario.Nombre}} {{.Usuario.Apellidos}}</span>
            </div>
</div>

<div class="col-6 altura"><span> <b> Datos personales</b></span>
    <p class="col-12">Correo Electronico:
        <input type="text" class="form-control" id="correousuario" name="correousuario" value="{{.Alumno.CorreoE}}">
    </p>
    <p class="col-12">Teléfono:
        <input type="text" class="form-control" id="telefonousuario" name="telefonousuario" value="{{.Alumno.Telefono}}">
        <input type="hidden" name="userid" value="{{.Usuario.UserID.Hex}}">
    </p>
</div>

</div>
<br>
<div class="centrado">
<button class="btn btn-warning">Guardar</button>

</div>
</form>
{{end}}
</div>
<script>profileit.classList.add("selected");</script>
{{template "footerTemplate" .}}