{{template "headTemplate"}}
{{template "navbartemplate" .}}
<div class="col-lg-10 col-md-10 rouded-lg">
    <div class="container mt-4">
<h1 class="text-center">Semestres</h1>
<hr>

<div class="centrado">
    <div class="col-md-6 textocentrado"><h1 class="display-4">Primaria</h1></div>
    
    <div class="col-md-6 textocentrado"><h1 class="display-4">Preescolar</h1></div>
</div> <!-- 1st row  -->
<hr>
<div class="centrado">
    <div class="col-md-5 textocentrado">
        <table class="table">
            <tbody>
              <tr>
                <th>Español Español Español Español Español Español</th>
                <td>Marko Aurelio</td>
              </tr>
              <tr>
                <th>Matematicas Matematicas Matematicas Matematicas</th>
                <td>Platon Vbarishdicov</td>
              </tr>
              <tr>
                <th>Ciencias</th>
                <td>Larry Wilkins</td>
              </tr>
              <tr>
                <th>Español Español Español Español Español Español</th>
                <td>Marko Aurelio</td>
              </tr>
              <tr>
                <th>Matematicas Matematicas Matematicas Matematicas</th>
                <td>Platon Vbarishdicov</td>
              </tr>
              <tr>
                <th>Ciencias</th>
                <td>Larry Wilkins</td>
              </tr>
              <tr>
                <th>Español Español Español Español Español Español</th>
                <td>Marko Aurelio</td>
              </tr>
              <tr>
                <th>Matematicas Matematicas Matematicas Matematicas</th>
                <td>Platon Vbarishdicov</td>
              </tr>
              <tr>
                <th>Ciencias</th>
                <td>Larry Wilkins</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col-md-1 coloresexoticos text-center"> <label class="midcenter">1</label> </div>
    <div class="col-md-5 textocentrado">
        <table class="table">
            <tbody>
              <tr>
                <th>Español Español Español Español Español Español</th>
                <td>Marko Aurelio</td>
              </tr>
              <tr>
                <th>Matematicas Matematicas Matematicas Matematicas</th>
                <td>Platon Vbarishdicov</td>
              </tr>
              <tr>
                <th>Ciencias</th>
                <td>Larry Wilkins</td>
              </tr>
              <tr>
                <th>Español Español Español Español Español Español</th>
                <td>Marko Aurelio</td>
              </tr>
              <tr>
                <th>Matematicas Matematicas Matematicas Matematicas</th>
                <td>Platon Vbarishdicov</td>
              </tr>
              <tr>
                <th>Ciencias</th>
                <td>Larry Wilkins</td>
              </tr>
              <tr>
                <th>Español Español Español Español Español Español</th>
                <td>Marko Aurelio</td>
              </tr>
              <tr>
                <th>Matematicas Matematicas Matematicas Matematicas</th>
                <td>Platon Vbarishdicov</td>
              </tr>
              <tr>
                <th>Ciencias</th>
                <td>Larry Wilkins</td>
              </tr>
            </tbody>
          </table>
    </div>

</div> <!-- 2nd row  -->
<hr>
<div class="centrado">
    <div class="col-md-5 textocentrado">
        <table class="table">
            <tbody>
              <tr>
                <th>Español Español Español Español Español Español</th>
                <td>Marko Aurelio</td>
              </tr>
              <tr>
                <th>Matematicas Matematicas Matematicas Matematicas</th>
                <td>Platon Vbarishdicov</td>
              </tr>
              <tr>
                <th>Ciencias</th>
                <td>Larry Wilkins</td>
              </tr>
              <tr>
                <th>Español Español Español Español Español Español</th>
                <td>Marko Aurelio</td>
              </tr>
              <tr>
                <th>Matematicas Matematicas Matematicas Matematicas</th>
                <td>Platon Vbarishdicov</td>
              </tr>
              <tr>
                <th>Ciencias</th>
                <td>Larry Wilkins</td>
              </tr>
              <tr>
                <th>Español Español Español Español Español Español</th>
                <td>Marko Aurelio</td>
              </tr>
              <tr>
                <th>Matematicas Matematicas Matematicas Matematicas</th>
                <td>Platon Vbarishdicov</td>
              </tr>
              <tr>
                <th>Ciencias</th>
                <td>Larry Wilkins</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col-md-1 coloresexoticos text-center"> <label class="midcenter">2</label> </div>
    <div class="col-md-5 textocentrado">
        <table class="table">
            <tbody>
              <tr>
                <th>Español Español Español Español Español Español</th>
                <td>Marko Aurelio</td>
              </tr>
              <tr>
                <th>Matematicas Matematicas Matematicas Matematicas</th>
                <td>Platon Vbarishdicov</td>
              </tr>
              <tr>
                <th>Ciencias</th>
                <td>Larry Wilkins</td>
              </tr>
              <tr>
                <th>Español Español Español Español Español Español</th>
                <td>Marko Aurelio</td>
              </tr>
              <tr>
                <th>Matematicas Matematicas Matematicas Matematicas</th>
                <td>Platon Vbarishdicov</td>
              </tr>
              <tr>
                <th>Ciencias</th>
                <td>Larry Wilkins</td>
              </tr>
              <tr>
                <th>Español Español Español Español Español Español</th>
                <td>Marko Aurelio</td>
              </tr>
              <tr>
                <th>Matematicas Matematicas Matematicas Matematicas</th>
                <td>Platon Vbarishdicov</td>
              </tr>
              <tr>
                <th>Ciencias</th>
                <td>Larry Wilkins</td>
              </tr>
            </tbody>
          </table>
    </div>

</div> <!-- 3rd row  -->


<br>
<hr>




</div>
<script>semestresit.classList.add("selected");</script>
{{template "footerTemplate" .}}

