<!-- H E A D    H T M L -->
{{template "headTemplate"}}
{{template "navbartemplate" .}}
<div class="col-lg-10 col-md-10 rouded-lg">
    <div class="container mt-4">
<h1 class="text-center">Usuarios</h1>
<hr>

    <div class="container centrado">

        <a class="btn btn-info btn-large padd" href="Javascript:Usuarios('Alumno');" role="button">Crear Alumno</a>&nbsp;
        <a class="btn btn-info btn-large padd" href="Javascript:Usuarios('Docente');" role="button">Crear Docente</a>&nbsp;
        <a class="btn btn-info btn-large padd" href="Javascript:Usuarios('Administrativo');" role="button">Crear Administrativo</a>&nbsp;
 
    </div>
    <br>
<div class="" id="UsuariosContainer">

    


</div>
</div>
<script>calificacionesit.classList.add("selected");</script>
{{template "footerTemplate" .}}