<!-- H E A D    H T M L -->
{{template "headTemplate"}}
{{template "navbartemplate" .}}
<div class="col-lg-10 col-md-10 rouded-lg">
    <div class="container mt-4">
<h1 class="text-center">Usuarios</h1>
<hr>

    <div class="container centrado">

        <a class="btn btn-info btn-large padd" href="Javascript:Usuarios('Alumno');" role="button">Crear Alumno</a>&nbsp;
        <a class="btn btn-info btn-large padd" href="Javascript:Usuarios('Docente');" role="button">Crear Docente</a>&nbsp;
        <a class="btn btn-info btn-large padd" href="Javascript:Usuarios('Administrativo');" role="button">Crear Administrativo</a>&nbsp;
 
    </div>
    <br>
<div class="" id="UsuariosContainer">

    <form action="#" method="POST" enctype="multipart/form-data" id="formularioAlumno" name="formularioAlumno" >
        <div class="col-lg-12">
            <h6 class="border-bottoms-c"> Datos personales del alumno: </h6>
            
            <div class="form-group row">
                <label for="nummatricula" class="col-sm-1 col-form-label negrita"> #Matricula: </label>
                <div class="col-sm-5 col-md-5 col-lg-5">
                    <input type="text" class="form-control" id="nummatricula" name="nummatricula" placeholder="Introduce matricula del alumno" minlength="10" maxlength="10" value="" required>
                </div>
                <label for="tiposangre" class="col-sm-2 col-form-label negrita"> Tipo de sangre: </label>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <input type="text" class="form-control" id="tiposangre" name="tiposangre" placeholder="Tipo de sangre del alumno" value="" required>
                </div>

            </div>        
            <div class="form-group row">
                <label for="nombrealumno" class="col-sm-1 col-form-label negrita"> Nombre: </label>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <input type="text" class="form-control" id="nombrealumno" name="nombrealumno" placeholder="Nombre del alumno" value="" required>
                </div>

                <label for="apaterno" class="col-sm-1 col-form-label negrita"> APaterno: </label>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <input type="text" class="form-control" id="apaterno" name="apaterno" placeholder="Apellido Paterno" value="" required>
                </div>
                <label for="amaterno" class="col-sm-1 col-form-label negrita"> AMaterno: </label>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <input type="text" class="form-control" id="amaterno" name="amaterno" placeholder="Apellido Materno" value="" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="fechanac" class="col-sm-3 col-form-label negrita"> Fecha de Nacimiento: </label>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <input type="date" class="form-control" id="fechanac" name="fechanac" value="" required>
                </div>

                <label for="curp" class="col-sm-1 col-form-label negrita"> CURP: </label>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <input type="text" class="form-control" id="curp" name="curp" placeholder="18 digitos de la CURP" maxlength="18" minlength="18" value="" required>
                </div>
            </div>

<hr>
            <h6 class="border-bottoms-c"> Datos domiciliares del alumno: </h6>

            <div class="form-group row">
                <label for="calle" class="col-sm-1 col-form-label negrita"> Calle: </label>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <input type="text" class="form-control" id="calle" name="calle" placeholder="Calle" value="" required>
                </div>

                <label for="numero" class="col-sm-1 col-form-label negrita"> Número: </label>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <input type="text" class="form-control" id="numero" name="numero" placeholder="Número" value="" required>
                </div>
                <label for="colonia" class="col-sm-1 col-form-label negrita"> Colonia: </label>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <input type="text" class="form-control" id="colonia" name="colonia" placeholder="Colonia/Asentamiento" value="" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="municipio" class="col-sm-1 col-form-label negrita"> Municipio: </label>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <input type="text" class="form-control" id="municipio" name="municipio" placeholder="Municipio" value="" required>
                </div>

                <label for="estado" class="col-sm-1 col-form-label negrita"> Estado: </label>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <input type="text" class="form-control" id="estado" name="estado" placeholder="Estado" value="" required>
                </div>
                <label for="telefono" class="col-sm-1 col-form-label negrita"> Télefono: </label>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <input type="text" class="form-control" id="telefono" name="telefono" placeholder="10 digitos" maxlength="10" minlength="10" value="" required>
                </div>
            </div>
<hr>
            <h6 class="border-bottoms-c"> Datos escolares del alumno: </h6>

            <div class="form-group row">
                <label for="plan" class="col-sm-1 col-form-label negrita"> Plan: </label>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <select name="plan" id="plan" class="form-control" required value="">
                        <option value="">Selecciona un plan de estudios</option>
                        <option value="2012">2012</option>
                        <option value="2018">2018</option>
                    </select>
                </div>

                <label for="licenciatura" class="col-sm-2 col-form-label negrita"> Licenciatura: </label>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <select class="form-control" id="licenciatura" name="licenciatura" value="">
                        <option value="">Selecciona una Licenciatura</option>
                        <option value="Primaria">Primaria</option>
                        <option value="Preescolar">Preescolar</option>
                    </select>
                </div>
                <label for="semestre" class="col-sm-1 col-form-label negrita"> Semestre: </label>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <select class="form-control" id="docenteevaluado" name="docenteevaluado" value="" >
                        <option value="">Selecciona</option>
                        {{range $index,$value := .Semestres}}
                            <option value="{{$value.ID.Hex}}">{{$value.Semestre}}</option>
                        {{end}}
                    </select>
                </div>
            </div>
            <hr>
            <h6 class="border-bottoms-c"> Datos del sistema del alumno: </h6>

            <div class="form-group row">
                <label for="nameuser" class="col-sm-2 col-form-label negrita"> Nombre de Usuario: </label>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <input type="text" class="form-control" id="nameuser" name="nameuser" placeholder="Nombre de usuario" value="" required>
                </div>

                <label for="passuser" class="col-sm-3 col-form-label negrita"> Contraseña preestablecida: </label>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <input type="text" class="form-control" id="passuser" name="passuser" placeholder="Contraseña" value="" required>
                </div>
            </div>

            <div class="form-group row">

                <label for="colonia" class="col-sm-2 col-form-label negrita"> Correo electronico: </label>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <input type="email" class="form-control" id="colonia" name="colonia" placeholder="Correo electronico" value="" required>
                </div>
            </div>


            <div class="form-group row centrado">                
                   <button type="submit" > Guardar Alumno</button>
            </div>
        </div>

    
    </form>


</div>
</div>
<script>calificacionesit.classList.add("selected");</script>
{{template "footerTemplate" .}}